.header{
    width: 100vw;
    height: 70px;
    padding: 10px;
    position: fixed;
    z-index: 10;
    top: 0;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.5);
    font-family: 'Montserrat', sans-serif;
    &_logo{
        height: 100%;
        position: relative;
    }
    &_nav{
        display: flex;
        margin: 0 auto;
        text-transform: uppercase;
        font-weight: 500;   
        &_item{
            margin: 0 32px;
        }
    }
    &_social{
        display: flex;
        > i.fab {
            font-family: default !important;
            font-size: 24px;
            margin: 0 24px;
            &:last-child{
                margin-right: 0;
            }
            &:first-child{
                margin-left: 0;
            }
        }
    }
}

.logo{
    object-fit: contain;
    height: 100%;
}

.landing{
    margin-top: 70px;
    height: calc(100vh - 70px);
    width: 100vw;
    background: url('../../assets/2439256.jpg');
    background-position-y: -5vh;
    background-size: cover;
    background-repeat: no-repeat;
    // clip-path: polygon(50% 0%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    position: relative;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    &_slogan{
        position: absolute;
        top: 72%;
        transform: translateY(-50%);
        right: 2%;
        font-size: 42px;
        width: fit-content;
        height: 100%;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        &_snippet{
            font-size: 16px;
            width: 700px;
            margin-top: 20px;
            line-height: 32px;
        }
        &_btn{
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 500;
            font-size: 18px;
            color: white;
            background: black;
            border: none;
            padding: 12px 18px;
            margin-top: 20px;
        }
        &_offer{
            width: 400px;
            height: 300px;
            background: black;
            margin-top: 60px;
            color: white;
            font-size: 16px;
            padding: 16px 0;
            position: relative;
            &_header{
                width: 100%;
                margin: 0 32px;
                padding:4px 16px;
                border-left: 3px solid white;
                height: fit-content;
                font-size: 24px;
            }
            &_content{
                font-size: 24px;
                padding: 32px;
                font-weight: 500;
                text-align: center;
            }
            &_cta{
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 500;
                font-size: 18px;
                color: white;
                border: white 2px solid;
                background: none;
                // border: none;
                padding: 12px 18px;
                margin-top: 10px;
                font-weight: bold;
                display: block;
                margin: 10px auto;
            }
        }
    }
}






// *{
//     font-family: 'Montserrat', sans-serif;
//     // font-family: 'Lato', sans-serif;
//     // font-family: 'Oswald', sans-serif;
//     // font-family: 'Heebo', sans-serif;
//     // font-family: 'Anton', sans-serif;
// }