<section class="header">
    <div class="header_logo">
        <img src="../../assets/logo.png" alt="" class="logo">
    </div>
    <div class="header_nav">
        <p class="header_nav_item" routerLink="">Home</p>
        <p class="header_nav_item">About Us</p>
        <p class="header_nav_item">Services</p>
        <p class="header_nav_item">News</p>
        <p class="header_nav_item">Contact Us</p>
        <p class="header_nav_item">Book Now</p>
    </div>
    <div class="header_social">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-vimeo-square"></i>
    </div>
</section>
<div class="landing">
    <div class="landing_slogan">
        If your hair isn’t becoming to you
        <br>
        you should be coming to us.
        <p class="landing_slogan_snippet">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquid porro expedita harum
            reprehenderit consectetur.
        </p>
        <button class="landing_slogan_btn">Book Now</button>
        <div class="landing_slogan_offer">
            <p class="landing_slogan_offer_header">First time with us?</p>
            <p class="landing_slogan_offer_content"><span style="font-size: 42px;">20% </span> Off for your first appointment</p>
            <button class="landing_slogan_offer_cta">CLAIM NOW</button>
        </div>
    </div>
</div>