.back{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Lato', sans-serif;
    // font-family: 'Oswald', sans-serif;
    // font-family: 'Heebo', sans-serif;
    // font-family: 'Anton', sans-serif;
}

.left{
    height: 100%;
    width: 40%;
    background:url('../../assets/photo-1500917293891-ef795e70e1f6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -120px;
    position: relative;
    &_offer{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 120px;
        // background-color: #A39AAB;
        background-color: #FFF8E1;
        box-shadow: 1px -1px 10px rgba($color: #000000, $alpha: 0.3);
        margin-bottom: -120px;
        z-index: 1;
        font-size: 32px;
        font-weight: 500;
        display: flex;
        align-items: center;
        > p{
            margin-left: auto;
        }
        &_icon{
            margin-right: 10px;
        }
        &_cta{
            height: 100%;
            width: 25%;
            text-align: center;
            background: #D1BC99;
            margin-left: auto;
            display: flex;
            align-items: center;
            color: #FAFAFA;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.right{
    height: 100%;
    width: 60%;
    // background-color: #FAFAFA;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.641), rgba(255, 255, 255, 0.662)), url('../../assets/herringbone.png');
    position: relative;
    z-index: 1;
    box-shadow: 1px -1px 10px rgba($color: #000000, $alpha: 0.2);
}

.header{
    display: flex;
    padding: 32px;
    font-size: 16px;
    width: 100%;
    position: relative;
    &_items{
        display: flex;
        width: 50%;
        justify-content: space-between;
        > p {
            margin: 0 auto;
            width: fit-content;
            height: fit-content;
            cursor: pointer;
            &:hover{
                border-bottom: 2px solid #D1BC99;
            }
        }
    }
}

.phone{
}

.logo{
    height: 10vh;
    margin: 0 auto;
    margin-top: -20px;
}

.slogan{
    font-size: 42px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 46px;
}

.description{
    margin-left: 15%;
    width: 60%;
    font-size: 16px;
}

.book{
    position: absolute;
    // top: 50%;
    margin-top: 40px;
    // left: 72%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #D0BC98;
    background: none;
    // box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.3);
    color: black;
    font-weight: 500;
    padding: 10px 30px;
    font-size: 24px;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

.prices{
    border: 2px solid #D0BC98;
    margin: 42px;
    margin-top: 130px;
    height: 41%;
}

.prices{
    display: flex;
    height: fit-content;
    padding: 26px 0;
    justify-content: space-evenly;
}

.widget{
    &_title{
        font-weight: 500;
        text-transform: uppercase;
    }
    &_list{
        > p{
            font-size: 14px;
            font-weight: 500;
            margin: 12px 0;
        }
    }
}