<section class="back">
  <div class="left">
    <div class="left_offer">
      <p>
        10% OFF FOR NEW CLIENTS
      </p>
      <div class="left_offer_cta" routerLink="/two">
        CLAIM NOW
      </div>
    </div>
  </div>
  <div class="right">
    <div class="header">
      <div class="header_items">
        <p>About Us</p>
        <p>Services</p>
        <p>Book</p>
        <p>Products</p>
        <p>Contact Us</p>
      </div>

      <img src="../../assets/logo.png" alt="" class="logo">
      <p class="phone">01118 673789</p>
    </div>
    <div class="slogan">
      You pick the style
      <br>
      &nbsp;&nbsp; We give you the style
    </div>
    <div class="description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nobis perspiciatis, explicabo pariatur, culpa
      repellendus doloremque, similique quos mollitia voluptas iste reiciendis. Alias aliquam at magni nemo adipisci
      ipsam error.
    </div>
    <button class="book">Book now</button>
    <div class="prices">
      <div class="widget">
        <div class="widget_title">
          Ladies Cutting
        </div>
        <div class="widget_list">
          <p>Cut & Wash/Blow Dry : £40</p>
          <p>Fringe Cut : £9</p>
          <p>Cut & Finish (After Colour) : £35</p>
          <p>Restyle : £45</p>
          <p>Wash & Cut : £35</p>
        </div>
      </div>
      <div class="widget">
        <div class="widget_title">
          Colour
        </div>
        <div class="widget_list">
          <p>Balayage : £85</p>
          <p>Ombre : £85</p>
          <p>Half Head Foils : £65</p>
          <p>Full Head Foils : £80</p>
          <p>T-Section Foils : £52</p>
          <p>Tint Regrowth : £46</p>
          <p>Full Head Tint : £60</p>
          <p>Regrowth, Bleach & Toner : £65</p>
          <p>Toner : £20</p>
        </div>
      </div>
      <div class="widget">
        <div class="widget_title">
          Styling
        </div>
        <div class="widget_list">
          <p>Blow Dry : £30</p>
          <p>After Colour Blow Dry : £20</p>
          <p>Perm : £85</p>
          <!-- <p>Taped Hair Extensions : £250 - £500</p> -->
          <p>Girls Cut (Under 13) : £20</p>
          <p>Boys Cut (Under 13) : £12</p>
        </div>
      </div>
      <div class="widget">
        <div class="widget_title">
          Gents Cuts
        </div>
        <div class="widget_list">
          <p>Cut and Wash/Blow Dry : £30</p>
          <p>Hair Cut : £15</p>
          <p>Beard Trim : £6</p>
          <p>Gentleman’s Tint, Cut & Finish : £40</p>
          <p>Gentleman’s Perm, Cut & Finish : £40</p>
        </div>
      </div>
    </div>
  </div>
</section>