<section class="landing">
  <div class="landing_header">
    <div class="landing_logo">
      <img src="../../assets/logo.png" alt="" class="logo">
    </div>
    <div class="landing_nav">
      <p class="landing_items" routerLink="">HOME</p>
      <p class="landing_items">ABOUT</p>
      <p class="landing_items">SERVICES</p>
      <p class="landing_items">SHOP</p>
      <p class="landing_items">BLOG</p>
      <p class="landing_items">CONTACT</p>
      <!-- <button class="landing_cta">BOOK NOW</button> -->
    </div>
  </div>
  <div class="box">
    <div class="box_title">
      THE BEST
      <br>
      <span class="box_bold">PROFESSIONAL CARE</span>
      <br>
      FOR <span class="box_bold_1">YOUR HAIR</span>
    </div>
    <button class="box_cta">
      BOOK NOW
    </button>
  </div>
</section>
<section class="below">
  <div class="left">
    <div class="left_inner">
      <div class="left_middle">
        <p class="left_title">FOR MEN</p>
        <p class="left_cta">See Pricing</p>
      </div>
    </div>
  </div>
  <div class="middle">
    <!-- <div class="middle_logo">
      <img src="../../assets/scissors-svgrepo-com.svg" alt="">
    </div> -->
    <div class="middle_title">ABOUT US</div>
    <div class="middle_content">
      <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, error! Dicta eveniet,
      atque quidem unde numquam exercitationem dolore mollitia.
      <br>
      <br><br>
      Dolor sit amet consectetur adipisicing elit. Accusamus beatae saepe autem ratione quidem aspernatur
      temporibus deleniti facere cumque optio suscipit et possimus deserunt, impedit reprehenderit, ut blanditiis
      dolorem ducimus.
    </div>
    <div class="middle_cta">READ MORE</div>
  </div>
  <div class="right">
    <div class="right_inner">
      <div class="left_middle">
        <p class="left_title">FOR WOMEN</p>
        <p class="left_cta">See Pricing</p>
      </div>
    </div>
  </div>
</section>